body {
  overflow-x: hidden;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2rem;
  text-align: center;
  /* box-shadow: 0 0 5px 5px rbga(0, 0, 0, 0.5); */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  transform-style: preserve-3d;
  transition: 350ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
  background-color: #282f4a;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  height: 300px;
  margin: 10px;
}

.front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: '2%';
}

.back {
  width: 100%;
  height: 100%;
  background-color: #111f16;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: '2%';
  border-radius: 2rem;
}

.card:hover {
  --translate-y: -10px;
  box-shadow: 0 0 5px 5px rbga(0, 0, 0, 0.5);
  opacity: 1;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

#contain {
  margin-top: 24px;
}

#navButton {
  margin-top: 14px;
  margin-right: -5px;
  border-radius: 9px;
  size: 50px;
 }

 #navButton:hover {
  color: #ff7b09;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#adminButton {
  height: 50px;
  width: 50px;
  border-radius: 9px;
  size: 50px;
  color:#49089e;
 }

 #adminButton:hover {
  color: #ff7b09;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#profile {
  margin-left: 25%;
  border-radius: 50%;
}

#profile:hover {
  border: thick;
  color: #ff7b09;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropzone {
  text-align: center;
  padding: 25%;
  border: 3px dashed #eeeeee;
  border-radius: 35px;
  background-color: #fafafa;
  color: #49089e;
  cursor: pointer;
  margin-bottom: 8%;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.dropzoneDark {
  text-align: center;
  padding: 25%;
  border: 3px dashed #eeeeee;
  border-radius: 35px;
  background-color: #888888;
  color: #49089e;
  cursor: pointer;
  margin-bottom: 8%;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  box-shadow: #eeeeee 0px 5px 15px 0px;
}

/* #uploadButton {
  color: #ff7b09;
} */

#uploadButtonDark {
  color: white;
}

#input {
}

#inputDark {
  color: #ff7b09;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #ff7b09;
  cursor: pointer;
  margin-bottom: 5%;
  font-weight: bold;
}

#script {
  color: #8a2be2;
}

#nav {
  background-color: #F8F9FA;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#navDark {
  background-color: #888888;
  background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#alert {
  font-size: large;
  margin-bottom: 2%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#links {
  margin-left: 25%;
}

/* DARK MODE */

@media only screen and (max-width: 490px) {
  #tool {
    display: flex;
    justify-content: center;
  }

  #logo {
    display: none;
  }

  #navButton {
    margin-top: -10px;
  }

  .dropzone {
    margin-top: 5%;
    margin-left: 4%;
    width: 80%;
    text-align: center;
    padding: 25%;
    border: 3px dashed #eeeeee;
    border-radius: 35px;
    background-color: #fafafa;
    color: #49089e;
    cursor: pointer;
    margin-bottom: 8%;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .dropzoneDark {
    margin-top: 5%;
    margin-left: 4%;
    text-align: center;
    width: 80%;
    padding: 25%;
    border: 3px dashed #eeeeee;
    border-radius: 35px;
    background-color: #888888;
    color: #49089e;
    cursor: pointer;
    margin-bottom: 8%;

    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    box-shadow: #eeeeee 0px 5px 15px 0px;
  }

  #input {
    margin-left: 4%;
    display: grid;

  }

  #download {
    margin-left: 25%;
  }

  #link {
    width: 100px;
    margin-left: 8%;
  }

}